<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.BooksMapper">

    <update id="addHot" parameterType="string">
        update books set hot =hot +1 where Isbn =#{Isbn};
    </update>

    <select id="getOneBook" parameterType="string" resultType="Books">
        select * from books where Isbn =#{Isbn}
    </select>
</mapper>