<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.BooksMapper">

    <select id="getBooksInfo" parameterType="string" resultType="Book">
        select * from book where Isbn = #{Isbn}
    </select>

    <update id="addHot" parameterType="string">
        update book set hot =hot +1 where Isbn =#{Isbn};
    </update>

    <select id="getBookByIsbn" parameterType="string" resultType="Book">
        select * from book where Isbn =#{isbn}
    </select>

    <update id="borrowBooks">
        update book set num = num - 1 where Isbn = #{isbn};
        update user set count = count + 1 where id = #{userId};
        update user set total = total + 1 where id = #{userId};
        insert into record values (#{recordId},#{isbn},#{userId},#{createTime},#{days},0,#{createTime});
    </update>

    <update id="returnBooks">
        update book set num = num + 1 where Isbn = #{isbn};
        update user set count = count - 1 where id = #{userId};
        update record set success = 1, modified_time = #{modifiedTime} where record_id = #{recordId};
    </update>

</mapper>