<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.PaymentMapper">

    <sql id="paymentField">
        select id,record_id,amount,create_time from payment
    </sql>

    <insert id="pay">
        insert into payment (record_id,amount,create_time) values (#{recordId},#{amount},#{date});
    </insert>
    <select id="getPaymentById" resultMap="paymentMap">
        <include refid="paymentField"/> where id = #{id};
    </select>
    <select id="getAllPayment" resultMap="paymentMap">
        <include refid="paymentField"/>
    </select>


    <resultMap id="paymentMap" type="Payment">
        <id column="id" property="id"/>
        <result column="amount" property="amount"/>
        <result column="create_time" property="createTime"/>

        <!--<association property="user" column="user_id" select="cn.bookmanager.mapper.UserMapper.getUserById" javaType="User"/>-->
        <association property="record" column="record_id" select="cn.bookmanager.mapper.RecordMapper.getRecordById" javaType="Record"/>

    </resultMap>

</mapper>