<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.RecordMapper">

    <sql id="recordField">
        select id, isbn, user_id, days, status, create_time, modified_time from record
    </sql>

    <select id="getAllRecord" resultMap="recordMap">
       <include refid="recordField"/>
    </select>
    <select id="getRecordById" resultMap="recordMap">
        <include refid="recordField"/>where id = #{recordId};
    </select>
    <select id="getRecordByUserId" resultMap="recordMap">
        <include refid="recordField"/> where user_id = #{userId};
    </select>


    <update id="updateRecord">
        update record set status = #{status} where id = #{recordId};
    </update>

    <resultMap id="recordMap" type="Record">
        <id column="record_id" property="id"/>
        <result column="time" property="time"/>
        <result column="days" property="days"/>
        <result column="status" property="status"/>
        <association property="book" column="isbn" select="cn.bookmanager.mapper.BookMapper.getBookByIsbn" javaType="Book"/>
        <association property="user" column="user_id" select="cn.bookmanager.mapper.UserMapper.getUserById" javaType="User"/>
    </resultMap>


</mapper>