<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.RecommendMapper">

    <sql id="recommendField">
        select id, name, isbn, type, status, create_time, modified_time from recommend
    </sql>

    <select id="getAllRecommend" resultType="cn.bookmanager.entity.Recommend">
       <include refid="recommendField"/>
    </select>
    <select id="getRecommendById" resultType="cn.bookmanager.entity.Recommend">
        <include refid="recommendField"/>
        where id = #{id};
    </select>
    <insert id="addBookFromRecommend">
        update recommend set status = 1 , update_time = #{data} where id = #{id};
    </insert>

</mapper>