<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.RecordMapper">

    <select id="getAllRecord" resultMap="recordMap">
        select * from record;
    </select>
    <select id="getRecordByRecordId" resultMap="recordMap">
        select * from record where record_id = #{recordId};
    </select>
    <select id="getRecordByUserId" resultMap="recordMap">
        select * from record where user_id = #{userId};
    </select>


    <update id="updateRecord">
        update record set status = #{success} where record_id = #{recordId};
    </update>

    <resultMap id="recordMap" type="Record">
        <id column="record_id" property="recordId"/>
        <result column="time" property="time"/>
        <result column="days" property="days"/>
        <result column="status" property="status"/>
        <association property="book" column="isbn" select="cn.bookmanager.mapper.BookMapper.getBookByIsbn" javaType="Book"/>
        <association property="user" column="user_id" select="cn.bookmanager.mapper.UserMapper.getUserById" javaType="User"/>
    </resultMap>


</mapper>