<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bookmanager.mapper.UserMapper">

    <select id="isLogin" resultType="int" parameterType="User">
    select count(1) from user where name=#{name} and password =#{password}
    </select>

    <select id="getUserById" resultType="cn.bookmanager.entity.User">
        select * from user where id=#{id}
    </select>

    <update id="updateUser" parameterType="User">
        update user set name = #{name}, password = #{password}, max =#{max}, balance =#{balance}, modified_time =#{modifiedTime}
        where id = #{id};
    </update>

    <update id="overdueCost">
        update user set balance = #{cost} where id=#{id};
    </update>

    <update id="overduePay">
        update user set balance = 0 where id=#{id};
    </update>

    <insert id="registered" parameterType="User">
        insert into user values (#{id},#{name},#{password},4,0,0,0,#{date},#{date});
    </insert>

    <select id="isUniqueName" parameterType="string" resultType="int">
        select count(*) from user where name = #{name};
    </select>

    <select id="getUserByName" resultType="cn.bookmanager.entity.User">
        select * from user where name = #{name}
    </select>

    <insert id="reserve">
        insert  into reserve(isbn,user_id,success,create_time,modified_time) values (#{isbn},#{user_id},0,#{date},#{date});
    </insert>

    <update id="recommend">
        insert into recommend(name,isbn,type, success, create_time, modified_time) values (#{name},#{isbn},0,#{date},#{date})
    </update>


</mapper>